@import url("./reset.css");

body {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(244, 230, 111);
  background: linear-gradient(
    45deg,
    rgba(244, 230, 111, 1) 0%,
    rgba(225, 94, 131, 1) 100%
  );
  position: relative;
}

.btn {
  background-color: #fff;
  padding: 12px 64px;
  border-radius: 4px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);
  font-size: 28px;
}

.modal {
  min-width: 60vw;
  min-height: 80vh;
  border-radius: 6px;
  background-color: #dae0e4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.none {
  display: none;
}

.modal__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.modal__title {
  width: 200px;
  height: 20px;
  margin-bottom: 20px;
  background-color: #C5CBCF;
}
.modal__subtitle {
  width: 100px;
  height: 20px;
  background-color: #C5CBCF;
}
.modal__body {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  gap: 20px;
}
.modal__card {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal__card-img {
  flex: 7;
  background-color: #DAE0E4;
  margin-bottom: 20px;
}
.modal__card-description {
  flex: 1;
  max-width: 35%;
  background-color: #C5CBCD;
}

